[submodule "parseannotations"]
	path = parseannotations
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/parseannotations.git
[submodule "frontend"]
	path = frontend
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/frontend.git
[submodule "documentation"]
	path = documentation
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/readme_files.git
[submodule "audioss"]
	path = audioss
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/audioss.git
[submodule "prepcsv"]
	path = prepcsv
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/prepcsv.git
[submodule "comparesegments"]
	path = comparesegments
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/comparesegments.git
[submodule "correlation"]
	path = correlation
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/correlation.git
[submodule "emotouch"]
	path = emotouch
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/emotouch.git
[submodule "mp2amc"]
	path = mp2amc
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/mp2amc.git
[submodule "compilematlab"]
	path = compilematlab
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/compilematlab.git
[submodule "py2tmm"]
	path = py2tmm
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/py2tmm.git
[submodule "tmm2python"]
	path = tmm2python
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/tmm2python.git
[submodule "extraudio"]
	path = extraudio
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/extraudio.git
[submodule "public_salta"]
	path = public_salta
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/public_salta.git
[submodule "NOTATION"]
	path = NOTATION
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/notation.git
[submodule "imuextract"]
	path = imuextract
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/imuextract.git
[submodule "multipipe"]
	path = multipipe
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/multipipe.git
[submodule "pyt_abstractions"]
	path = pyt_abstractions
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pyt_abstractions.git
[submodule "isolate_subject"]
	path = isolate_subject
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/isolate_subject.git
[submodule "nd-simplex"]
	path = nd-simplex
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/nd-simplex.git
[submodule "cleandata"]
	path = cleandata
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/cleandata.git
[submodule "slicefeatures"]
	path = slicefeatures
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/slicefeatures.git
[submodule "matlab-api"]
	path = matlab-api
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/matlab-api.git
[submodule "confidence"]
	path = confidence
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/confidence.git
[submodule "clustering"]
	path = clustering
	url = https://AdrianArtacho@bitbucket.org/augmentedperformer/clustering.git
[submodule "featurestructure"]
	path = featurestructure
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/featurestructure.git
[submodule "plotly"]
	path = plotly
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/plotly.git
[submodule "uinterpreter"]
	path = uinterpreter
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/uinterpreter.git
[submodule "mpipe"]
	path = mpipe
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/mpipe.git
