[submodule "parseannotations"]
	path = parseannotations
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/parseannotations.git
[submodule "frontend"]
	path = frontend
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/frontend.git
[submodule "documentation"]
	path = documentation
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/readme_files.git
[submodule "audioss"]
	path = audioss
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/audioss.git
[submodule "tmm2python"]
	path = tmm2python
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/tmm2python.git
[submodule "prepcsv"]
	path = prepcsv
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/prepcsv.git
[submodule "comparesegments"]
	path = comparesegments
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/comparesegments.git
[submodule "correlation"]
	path = correlation
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/correlation.git
[submodule "extraudio"]
	path = extraudio
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/extraudio.git
[submodule "emotouch"]
	path = emotouch
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/emotouch.git
[submodule "gui_abstractions"]
	path = gui_abstractions
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
